@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "EuclidCircularB-Light";
  src: url("../src/assets/fonts/EuclidCircularB-Light.ttf");
}

@font-face {
  font-family: "EuclidCircularB-Regular";
  src: url("../src/assets/fonts/EuclidCircularB-Regular.ttf");
}

@font-face {
  font-family: "EuclidCircularB-Medium";
  src: url("../src/assets/fonts/EuclidCircularB-Medium.ttf");
}

@font-face {
  font-family: "EuclidCircularB-SemiBold";
  src: url("../src/assets/fonts/EuclidCircularB-SemiBold.ttf");
}

@font-face {
  font-family: "EuclidCircularB-Bold";
  src: url("../src/assets/fonts/EuclidCircularB-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wrapper {
    @apply container mx-auto;
  }
  .section {
    @apply my-2 py-14 md:my-4 md:py-14 lg:my-4 lg:py-16 xl:my-4 xl:py-20 2xl:my-10 2xl:py-24;
  }
  .link-hover {
    @apply transition duration-300 ease-in;
  }
  .btn {
    @apply font-euclidMedium text-primary-400 bg-accent capitalize py-2 px-6 rounded;
  }
  .title-gap {
    @apply gap-y-4 lg:gap-y-8;
  }
  .pretitle {
    @apply font-euclidSemiBold text-accent uppercase text-sm lg:text-base;
  }
  .title {
    @apply font-primary text-primary-400 font-semibold capitalize text-xl lg:text-3xl max-w-[350px] lg:max-w-[450px];
  }
  .grid-container {
    @apply grid grid-flow-row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 24px 24px;
    grid-template-areas:
      "one one two two"
      "one one two two"
      "one one two two"
      "one one four four"
      "three three four four"
      "three three four four"
      "three three four four";
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e9d26e;
  border-radius: 50px;
}

/* grid areas about section */
.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }
